<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Необходима авторизация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body class="text-center">
<div th:if="${param.error}">
    Неверный логин и пароль.
</div>
<div th:if="${param.logout}">
    Вы вышли из системы.
</div>
<form class = "form-signin" id="login-form" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Конвертер валют</h1>
    <div><input class="form-control" type="text" placeholder="Логин" name="username" required autofocus/> </div>
    <div><input class="form-control" type="password" placeholder="Пароль" name="password" required/> </div>
    <div><input class="btn btn-lg btn-primary btn-block" type="submit" id="btn-sub" value="Войти"/></div>
</form>
</body>
</html>